<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>demo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forget_password</servlet-name>
        <servlet-class>forget_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companySign</servlet-name>
        <servlet-class>companySign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companySignin</servlet-name>
        <servlet-class>companySignin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fp3</servlet-name>
        <servlet-class>fp3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fp4</servlet-name>
        <servlet-class>fp4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companySignup</servlet-name>
        <servlet-class>companySignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignIn</servlet-name>
        <servlet-class>UserSignIn.UserSignIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignUp</servlet-name>
        <servlet-class>UserSignUp.UserSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSignIn1</servlet-name>
        <servlet-class>UserSignIn1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert_user</servlet-name>
        <servlet-class>Insert_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usell</servlet-name>
        <servlet-class>usell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>requestfetch</servlet-name>
        <servlet-class>requestfetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptwaste</servlet-name>
        <servlet-class>acceptwaste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companyfeedback</servlet-name>
        <servlet-class>companyfeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companysell</servlet-name>
        <servlet-class>companysell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userrequeststatus</servlet-name>
        <servlet-class>userrequeststatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companylogout</servlet-name>
        <servlet-class>companylogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogout</servlet-name>
        <servlet-class>userlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>transactionfetch</servlet-name>
        <servlet-class>transactionfetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usertransactionfetch</servlet-name>
        <servlet-class>usertransactionfetch.usertransactionfetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usertransactionfetch2</servlet-name>
        <servlet-class>usertransactionfetch2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companyProducts</servlet-name>
        <servlet-class>companyProducts.companyProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companySell</servlet-name>
        <servlet-class>companySell.companySell</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companyproducts</servlet-name>
        <servlet-class>companyproducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companySellingStatus</servlet-name>
        <servlet-class>companySellingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companySellProducts</servlet-name>
        <servlet-class>companySellProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeProduct</servlet-name>
        <servlet-class>removeProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProducts</servlet-name>
        <servlet-class>userProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forget_password</servlet-name>
        <url-pattern>/forget_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companySign</servlet-name>
        <url-pattern>/companySign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companySignin</servlet-name>
        <url-pattern>/companySignin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fp3</servlet-name>
        <url-pattern>/fp3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fp4</servlet-name>
        <url-pattern>/fp4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companySignup</servlet-name>
        <url-pattern>/companySignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignIn</servlet-name>
        <url-pattern>/UserSignIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignUp</servlet-name>
        <url-pattern>/UserSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSignIn1</servlet-name>
        <url-pattern>/UserSignIn1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert_user</servlet-name>
        <url-pattern>/Insert_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usell</servlet-name>
        <url-pattern>/usell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>requestfetch</servlet-name>
        <url-pattern>/requestfetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptwaste</servlet-name>
        <url-pattern>/acceptwaste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyfeedback</servlet-name>
        <url-pattern>/companyfeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companysell</servlet-name>
        <url-pattern>/companysell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userrequeststatus</servlet-name>
        <url-pattern>/userrequeststatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companylogout</servlet-name>
        <url-pattern>/companylogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogout</servlet-name>
        <url-pattern>/userlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>transactionfetch</servlet-name>
        <url-pattern>/transactionfetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usertransactionfetch</servlet-name>
        <url-pattern>/usertransactionfetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usertransactionfetch2</servlet-name>
        <url-pattern>/usertransactionfetch2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyProducts</servlet-name>
        <url-pattern>/companyProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companySell</servlet-name>
        <url-pattern>/companySell</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companyproducts</servlet-name>
        <url-pattern>/companyproducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companySellingStatus</servlet-name>
        <url-pattern>/companySellingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companySellProducts</servlet-name>
        <url-pattern>/companySellProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProduct</servlet-name>
        <url-pattern>/removeProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProducts</servlet-name>
        <url-pattern>/userProducts</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Landing.html</welcome-file>
    </welcome-file-list>
</web-app>
